*{
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --corPreta: #2F2933;
    --corPrimaria: #9400EA;
    --corSecundaria: #673585;
    --corBranca: #FFFF;
}

html {
    scroll-behavior: smooth
}

body {
    width: 100%;
    height: 100%;
    background-color: #000000;
}

#nav-bar {
    /*overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;*/
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #11131e;
    color: #ffff;
    font-size: 1.1em;
    padding: 2em;
}

#nav-bar2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background-color: #ffff;
    margin: 8px;
}

@media (max-width: 999px) {
    body {
        overflow-x: hidden;
    }

    nav {
        justify-content: space-between;
    }

    div#nav-imgs a {
        display: none;
    }

    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 90vh;
        background-color: #11131e;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translate(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
    }
}

.nav-list.active {
    transform: translateX(0);
}

nav ul {
    display: flex;
    align-items: center;
    gap: 5em;
    list-style-type: none;
}

.nav-link a:hover {
    color: var(--corPrimaria);
    font-weight: 500;
    transition: .3s;
}

nav a {
    text-decoration: none;
    color: #ffff;
    letter-spacing: 1px;
}

div#nav-imgs {
    display: flex;
    gap: 1em;
}


main {
    background-color: #000000;
    height: 100%;
    width: 100%;
    /*margin: auto;*/
    height: 100%;
    border-radius: 0.625rem;
}

section#sobre-mim {
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

section#sobre-mim img {
    width: 25rem;
    border-radius: 0.625rem;
}

div#sobre-mim-txt {
    display: flex;
    flex-direction: column;
    gap: 3em;   
    color: #ffff;
    flex-wrap: wrap;
}

div#sobre-mim-txt div {
    display: flex;
    flex-direction: column;
    gap: 0.313rem;
    flex-wrap: wrap;
}

div#sobre-mim-txt div h3 {
    font-size: 1.5rem;
    color: var(--corBranca);
    border-bottom: 2px solid var(--corPrimaria);
    width: 5.625rem;
}

div#sobre-mim-txt div p {
    font-size: 1.25rem;
    font-weight: 300;
    color: var(--corBranca);
}

section#info {
    padding: 2em;
    width: 100%;
    height: 30vh;
}

section#info h3 {
    margin: auto;
    padding: 0.5rem;
    margin-bottom: 0.5em;
    font-size: 2em;
    color: var(--corBranca);
    border-bottom: 2px solid var(--corPrimaria);
    width: 12.5rem;
    text-align: center;
}

section#info p {
    margin: auto;
    text-align: center;
    max-width: 56.25rem;
    color: #ffff;
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.3;
}


section#skills {
    padding: 2em;
    height: 40vh;
}

section#skills h3 {
    margin: auto;
    padding: 0.5rem;
    margin-bottom: 0.9em;
    font-size: 2em;
    color: var(--corBranca);
    border-bottom: 2px solid var(--corPrimaria);
    width: 9.375rem;
    text-align: center;
}

div.skills-coluna {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

div.skills-coluna img {
    width: 8rem;
}

#projetos {
    background-color: #000000;
    padding: 2em;
}

#projetos a {
    text-decoration: none;
}

#projetos h3 {
    margin: auto;
    padding: 0.5rem;
    margin-bottom: 0.9em;
    font-size: 2em;
    color: var(--corBranca);
    border-bottom: 2px solid var(--corPrimaria);
    width: 10rem;
    text-align: center;
}

#projetos-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.25rem;

}

.projeto-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projeto-div img {
    width: 100%;
    height: 100%;
}

.projeto-div:hover {
    transform: scale(1.05);
    transition: .2s;
}

.projeto-div h2 {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.438rem;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    margin-top: 0.625rem;
}

.projeto-div p {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.125rem;
    letter-spacing: 0em;
    text-align: center;
    color: #828282;
    margin-bottom: 0.625rem;
}

#projetos-container div {
    background-color: #212121;
    border: 1px solid #333333;
    border-bottom: 4px solid var(--corPrimaria);
    width: 21.875rem;
    height: 15.625rem;
}


section#certificados h3 {
    padding: 0.5rem;
    margin: auto;
    margin-bottom: 0.9em;
    font-size: 2em;
    color: var(--corBranca);
    border-bottom: 2px solid var(--corPrimaria);
    width: 13.125rem;
    text-align: center;
}

.box {
    padding-top: 1.875rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 1.25rem;
}

.box .card {
    position: relative;
    width: 12.5rem;
    height: 25rem;
    margin: 1.875rem;
    box-shadow: 1.25rem 1.25rem 50px rgba(0, 0, 0, 0.63);
    border-radius: 1.25rem;
    background: rgb(77, 73, 73);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.box .card .content {
    padding: 1.25rem;
    text-align: center;
    /*transform: translateY(100px);
    opacity: 0;
    transition: .5s;*/
}

.box .card:hover .content {
    transform: translate(0px);
    opacity: 1;
}

.card h1 {
    font-size: 1.5em;
    margin: 0.5rem;
    color: #ffff;
}

.card p {
    font-weight: 300;
}

.card button {
    cursor: pointer;
    margin-top: 1.25rem;
    padding: 1em;
    border-radius: 1.25rem;
    background-color: #ffffff;
    border: none;
}

.card button:hover {
    background-color: var(--corPrimaria);
    color: var(--corBranca);
    transition: .3s;
}

.content {
    padding: 0.938rem;
}

.foto {
    width: 150px;
    border-radius: 1.25rem;
}

section#formação {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #000000;
    padding: 1em;
}

div#container {
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 56.25rem;
    border-radius: 1.25rem;
    background-color: #ed195c;
}

div#container img {
    width: 21.875rem;
    border-radius: 50%;
}

div#container h4 {
    font-size: 2em;
    color: rgb(255, 255, 255);
    font-weight: 500;
}

#up-arrow {
    position: fixed;
    background-color: var(--corPrimaria);
    color: #fff;
    width: 2.75rem;
    height: 2.75rem;
    text-align: center;
    line-height: 1;
    font-size: 1rem;
    border-radius: 50%;
    right: 0.938rem;
    bottom: 0.938rem;
    transition: all 0.5s ease 0s;
    z-index: 11;
    text-decoration: none;
}

.material-symbols-outlined {
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
}
